<h1>Все статьи:</h1>

<% @articles.each do |article| %>
	<h3>
		<%= article.id %>) Статья
	</h3>
	<h2>
		<%= article.title %>
	</h2>
	<p>
		<%= article.text %>
	</p>
	
	<p>
		<%= link_to 'show', article_path(article) %> |
		<%= link_to 'edit', edit_article_path(article) %>
	</p>
	<hr>
<% end %>	