
          
<h1>Все статьи:</h1>
<hr>


<% @articles.each do |article| %>
	
	<h3>
		<%= article.title %>
	</h3>
	<p>
		<%= article.text %>
	</p>
	
	<p>
		Автор :<%= article.author %><br>
		
		Дата публикации:  <%= article.created_at%><br>

		<%= link_to 'Просмотр', article_path(article) %>
	</p>
	<hr>
<% end %>	 

