<h1>New Article</h1>

<%= form_for :article, url: articles_path do |f| %>

	
	<p>
		
		<%= f.label :title %><br>
		<%= f.text_field :title, :class => 'form-control' %>
	</p>
	<p>
		
		<%= f.label :text %><br>
		<%= f.hidden_field :text, id: :article_text, :class => 'form-control' %>
		<trix-editor input="article_text"></trix-editor>
	</p>
	<p>
		
		
		<%= f.file_field :picture %>
	</p>
	<p>
		
		<%= f.submit "Опубликовать", :class => 'btn btn-primary' %>
	</p>
<% end %>
