<!DOCTYPE html>
<html>
  <head>
    <title>BlogLesson34</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link data-require="bootstrap@*" data-semver="4.1.3" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <script data-require="bootstrap@*" data-semver="4.1.3" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    
  </head>

  <body>
<div class="container-fuild">
    <nav class="navbar navbar-default">
    
      
      
          
          
            
         
          
          
  
            <% if user_signed_in? %>
            
               

                  <%= link_to 'Все статьи', articles_path(@articles), :class => 'btn btn-primary' %>
                  <%= link_to 'Новая статья', new_article_path(@article), :class => 'btn btn-primary' %>
                  <%= link_to 'Terms', terms_path, :class => 'btn btn-primary' %>
                  <%= link_to 'About', about_path, :class => 'btn btn-primary' %>
                  <%= link_to 'Профиль', user_root_path, :class => 'btn btn-primary' %>
                  <% if current_user[:username] == 'karamalesa' %>
                   <%= link_to 'Админка',  rails_admin_path, :class => 'btn btn-primary' %>
                  <% end %>
                 
            
          
            
              <span>Здравствуйте, <%= current_user.username %> </span>
            
            <div>  
                <%= link_to 'Выйти', destroy_user_session_path, method: :delete, :class => 'btn btn-danger' %>
           
          <% else %>
          <div class="row">
            <div class="col-md-10 col-lg-10 col-sm-10">
              <p>
                <%= link_to 'Зарегистрироваться', new_user_registration_path, :class => 'btn btn-warning' %>
                 
              </p>
            </div> 
            <div class="col-md-2 col-sm-2 col-lg-2"> 
              <p>
              <%= link_to 'Войти', new_user_session_path, :class => 'btn btn-success' %>
              </p>
            </div>  
          </div> <!--row-->
            
          
          
          <% end %>
          
           </nav>
           </div> <!-- container-->
        

          <%= yield %>

      <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
   

  </body>
</html>
